@page "/Login"
@model WebSecurity.Pages.Common.LoginModel
@{
}
<h1>Login</h1>
<h3> User a local account to login</h3>
<div class="row">
    <form>
        <div>
            <label>Email</label>
            <input type="email" name="email" class="form-control" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" class="form-control" />
        </div>
    </form>

</div>